/* 头部样式 */

/* 默认的字体 大小 和 样式 */
.body{
  font-family: "Micorsoft Yahei";
  font-size: 14px;
  color: #000;
}

/* 头部样式 */
.header{
  background-color: gold;
  width: 1200px;
  height: 29px;
  margin: 0 auto;
  border-bottom: 1px solid #000;
}

/* 欢迎样式 */
.welcome{
  font-size: 12px;
  color: red;
  height: 29px;
  line-height: 29px;
}

/* 头部右边样式 */
.user_right{
  background-color: cyan;
}

/* 登录样式*/
.login_btn li, .user_btn li{
  height: 29px;
  line-height: 29px;
  float: left;
}


.login_btn a, .user_btn a,.user_info{
  height: 29px;
  line-height: 29px;
  padding: 0px 30px;
  color: red;
}

.login_btn a:hover, .user_btn a:hover{
  color: green;
  background-color: grey;
}

/* 用户信息 首先隐藏 */
.user_info{
  display: block;
}

/* 登录模块隐藏 */
.login_btn{
  display: none;
}

.user_info em{
  color: yellow;
}

/* 中间 logo 搜索 购物车 */
.content_center{
  width: 1200px;
  height: 115px;
  /* background-color: green; */
  margin: 0 auto;
}
.content_logo{
  margin: 10px 0px 0px 10px;
}

.content_search{
  width: 680px;
  height: 40px;
  margin-left: 100px;
  margin-top: 34px;
  background-color: gold;
  border: 1px solid pink;

}

.content_search_from{
  width: 680px;
  height: 40px;
  background-image: url('../images/icons.png');
  background-repeat: no-repeat;
  background-position: -5px -5px;
  border: 0px;
}

.content_search_input{
  border: 0px;
  width: 550px;
  height: 40px;
  margin-left: 40px;
  border: 0px;

  /* 输入框闪光属性取消 */
  outline: none;

}

.content_search_submit{
  width: 90px;
  height: 40px;
  padding: 0px;
  border: 0px;
  background-color: green;

  cursor: pointer;

}

.content_shopping{
  width: 200px;
  height: 40px;
  margin-left: 50px;
  margin-top: 34px;
  background-color: pink;
  font-size: 0px;
  background-image: url('../images/icons.png');
  background-repeat: no-repeat;
  background-position: -4px -352px;
  text-align: center;

}


.content_shopping span{
  display: inline-block;
  background-color: blue;
  width: 120px;
  height: 40px;
  font-size: 14px;
  color: red;
  line-height: 40px;
  margin-left: 40px;


}

.content_shopping em{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: grey;
  font-size: 14px;
  color: red;
  text-align: center;
  line-height: 40px;

}

/* 导航条 */
.content_nav{
  width: 1200px;
  height: 39px;
  margin: 0 auto;
  /* background-color: yellow; */
  border-bottom: 1px solid grey;

}

.content_nav_title{
  width: 200px;
  height: 39px;
  border-bottom: 1px solid red;
  background-color: green;
  float: left;
  color: white;
  font-size: 18px;
  text-indent: 39px;
  line-height: 39px;
}

.content_nav ul{
  display: inline-block;
  margin-left: 40px;
}

.content_nav ul li {
  /* background-color: red; */
  float: left;
  height: 39px;
  padding: 0 10px;
  text-indent: 0px;
  line-height: 39px;
}

.content_nav ul li a{
  width: 100%;
}

.content_nav ul li a:hover{
  color: pink;
  font-size: 20px;
}

/* 条目 banner  广告 */
.content_first{
  width: 1200px;
  height: 276px;
  /* background-color: pink; */
  margin: 0 auto;
}
.catalogue{
  height: 276px;
  width: 200px;
  /* background-color: yellow; */
}
.catalogue li{
  width: 200px;
  height: 45px;
  /* background-color: pink; */
  margin-top: 0px;
  border-bottom: 1px solid grey;
  background-image: url('../images/icons.png');
  background-position: 138px -303px;
  background-repeat: no-repeat;
}

.catalogue li a{
  /* 这个是保证子控件 和父控件宽度一致 */
  display: block;
  height: 45px;
  line-height: 45px;
  text-indent: 40px;
  background-image: url('../images/icons.png');
  /* background-position: -5px -3px; */
  background-repeat: no-repeat;

}

.catalogue_1{
  background-position: -5px -46px;
}

.catalogue_2{
  background-position: -5px -250px;
}

.catalogue_3{
  background-position: -5px -100px;
}

.catalogue_4{
  background-position: -5px -154px;
}

.catalogue_5{
  background-position: -5px -204px;
}

.catalogue_6{
  background-position: -5px -254px;
}
.banner{
  height: 276px;
  width: 762px;
  background-color: purple;
  position: relative;
  overflow: hidden;
}

.banner_image{
  position: absolute;
  height: 276px;
  width: 3048px;
  top: 0px;
  left: 0px;
}

.banner_image li{
  float: left;
}

.banner_image li a{
  display: block;
  background-color: red;
  height: 276px;

}

.banner_left_arrow{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: green;
  background-image: url('../images/icons.png');
  background-position: -5px -399px;
  background-repeat: no-repeat;
  top: 109px;
  left: 0px;
  cursor: pointer;
}

.banner_right_arrow{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: green;
  background-image: url('../images/icons.png');
  background-position: -5px -299px;
  background-repeat: no-repeat;
  top: 109px;
  left: 705px;
  cursor: pointer;
}

.banner_point{
  position: absolute;
  width: 762px;
  height: 40px;
  /* background: red; */
  top: 216px;
  text-align: center;
}



.banner_point li{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

.banner_point li a{
  display: block;
  height: 40px;
  background-color: grey;
  border-radius: 20px;
  /* background-color: pink; */
}
.banner_point li a:hover{
  background-color: lightgreen;
}


.adv{
  height: auto;
  width: 238px;
  background-color: lightgreen;
}

.adv li{
  height: auto;
}

.adv li a{
  display: block;
  height: auto;
}
.adv li a img{
  display: block;
  height: auto;
}

/* 产品模块 */
.product_goods{
  width: 1200px;
  height: 333px;
  /* background-color: green; */
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.product_title{
  margin-top: 20px;
  height: 34px;
  background-color: lightgrey;
  border-bottom: 1px solid black;
}

.product_title h3{
    float: left;
    text-indent: 30px;
    line-height: 34px;
}

.product_title ul li,.product_title ul li a{
  float: left;
  margin-left: 20px;
  line-height: 34px;
}

.product_title ul li a:hover{
  color: pink;
  font-size: 18px;
}

.product_goods_banner{
  float: left;
}

.product_goods_banner a{
  /* display: inline-block; */
  float: left;
  width: 200px;
  height: 298px;
  /* background-color: orange; */
  background-image: url(../images/banner003.png);
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
.product_goods_one{
  height: 300px;
  /* background-color: purple; */
  text-align: center;
}

.product_goods_one li{
  float: left;
}

.product_goods_one li a{
  display: inline-block;
  width: 248px;
  height: 300px;
  border-right: 1px solid black;
}

.product_goods_one li a h4{
  margin-top: 10px;
  text-align: center;
  color: black;
}

.product_goods_one li a img{
  width: 180px;
  height: 180px;
  margin-top: 10px;

}

.product_goods_one li a p{
  margin-top: 30px;
  color: green;
  font-size: 18px;
}
